<div class="jumbotron text-center">
 <h1>Eat-Da-Burger!</h1>
</div>
<div class="container">
  <div class="row">
    
    <!-- New burgers -->
    <div class="col-sm-6">
      <ul>
        {{#each burger}} {{#unless devoured}}
        <div class="row">

          <div class="col-sm-6 text-center newBurger">
            <p>{{id}}. {{burger_name}}</p>
          </div>
          <div class= "col-sm-6">
            <button type="submit" data-id="{{id}}" class="btn btn-dark devoured">
              DEVOUR IT!
            </button>
          </div>
        </div>
        <hr />
        {{/unless}} {{/each}}
      </ul>
    </div>
   
    <!-- Devoured burgers -->
    <div class="col-sm-6">
      <ul>
        {{#each burger}} {{#if devoured}}
        <div>
          <div>{{id}}. {{burger_name}}</div>
        </div>
        {{/if}} {{/each}}
      </ul>
    </div>
  </div>
  
  <!-- Form -->
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <form class="text-center create-form">
        <div class="form-group">
          <input type="text" class="form-control" id="name" name="burger_name" />
          <div>
            <button type="submit" class="btn btn-primary">ADD</button>
          </div>
          <div>
            <label class="label">
              <p>
                Enter a burger you want to eat. Click the "ADD" button.
              </p>
            </label>
          </div>
        </div>
      </form>
    </div>
    <div class="col-sm-4"></div>
  </div>
</div>